<app-alert-modal [error]="error" *ngIf="isSmthEmpty" (onClose)="isSmthEmpty = false"></app-alert-modal>
<H1>{{title}}</H1>
<div class="container">

  <div *ngIf="id != -1">
    <button (click)="makeEditable()">{{szerkText}}</button>
  </div>
  <div class="container table-responsive">
    <table>
      <th>Korábbi érték</th>
      <th>Új érték</th>
      <tr>
        <td><label>Study cím: {{study.cim}}</label></td>
        <td>
          <fieldset class="form-group">
            <input required="{{study.id == -1}}" [disabled]="!isEditable" type="text" [(ngModel)]="study.cim" class="form-control" name="cim"
                   required="required">
          </fieldset>
        </td>
      </tr>

      <tr>
        <td><label>Study kód: {{study.studyKod}}</label></td>
        <td>
          <fieldset class="form-group">
            <input required="{{study.id == -1}}" [disabled]="!isEditable" type="text" [(ngModel)]="study.studyKod" class="form-control"
                   name="studyKod"
                   required="required">
          </fieldset>
        </td>
      </tr>

      <tr>
        <td><label>Megbízó cég: {{study?.megbizoCeg?.nev}}</label></td>
        <td><select required="{{study.id == -1}}" [disabled]="!isEditable" class="custom-select" placeholder="Megbízó cég kiválasztása"
                    [(ngModel)]="selectedMegbizoCeg">
          <option *ngFor="let szervezet of szervezetList" [ngValue]="szervezet">{{szervezet.nev}}</option>
        </select></td>
      </tr>

      <tr>
        <td><label>CRO cég: {{study?.cro?.nev}}</label></td>
        <td><select required="{{study.id == -1}}" [disabled]="!isEditable" class="custom-select" placeholder="CRO cég kiválasztása"
                    [(ngModel)]="selectedCro">
          <option *ngFor="let szervezet of szervezetList" [ngValue]="szervezet">{{szervezet.nev}}</option>
        </select></td>
      </tr>

      <tr>
        <td><label>Kutatás vezető: {{study?.kutatasVezeto?.nev}}</label></td>
        <td><select required="{{study.id == -1}}" [disabled]="!isEditable" class="custom-select" placeholder="Kutatást vezető személy kiválasztása"
                    [(ngModel)]="selectedKutatasVezeto">
          <option *ngFor="let szemely of szemelyList" [ngValue]="szemely">{{szemely.nev}}</option>
        </select></td>
      </tr>


      <tr>
        <td><label>Részleg: {{study?.reszleg?.nev}}</label></td>
        <td><select required="{{study.id == -1}}" [disabled]="!isEditable" class="custom-select" placeholder="Részleg kiválasztása"
                    [(ngModel)]="selectedReszleg">
          <option *ngFor="let szervezet of szervezetList" [ngValue]="szervezet">{{szervezet.nev}}</option>
        </select></td>
      </tr>

      <tr>
        <td><label>Monitor: {{study?.monitor?.nev}}</label></td>
        <td><select required="{{study.id == -1}}" [disabled]="!isEditable" class="custom-select" placeholder="Monitort végző személy kiválasztása"
                    [(ngModel)]="selectedMonitor">
          <option *ngFor="let szemely of szemelyList" [ngValue]="szemely">{{szemely.nev}}</option>
        </select></td>
      </tr>

      <tr>
        <td><label>Pénzügyi kontakt: {{study?.penzugyiKontakt?.nev}}</label></td>
        <td><select required="{{study.id == -1}}" [disabled]="!isEditable" class="custom-select" placeholder="Pénzügyi kontakt kiválasztása"
                    [(ngModel)]="selectedPenzugyiKontakt">
          <option *ngFor="let szemely of szemelyList" [ngValue]="szemely">{{szemely.nev}}</option>
        </select></td>
      </tr>

      <tr>
        <td><label>Fizetési periódus: {{study?.fizetesiPeriodusDetailDto?.megnevezes === null ? '-' : study?.fizetesiPeriodusDetailDto?.megnevezes + '(' + study?.fizetesiPeriodusDetailDto?.napok + ')'}}</label>
        </td>
        <td><select required="{{study.id == -1}}" [disabled]="!isEditable" class="custom-select" placeholder="Fizetési periódus kiválasztása"
                    [(ngModel)]="selectedFizetesiPeriodus">
          <option *ngFor="let fizetesiPeriodus of fizetesiPeriodusList"
                  [ngValue]="fizetesiPeriodus">{{fizetesiPeriodus.megnevezes}}</option>
        </select></td>
      </tr>
    </table>
  </div>


  <label>Szerződéskötés
    dátuma: {{study.szerzodesKotesDatuma === null ? '-' : study.szerzodesKotesDatuma | date: 'yyyy/MM/dd'}}</label>
  <input required="{{study.id == -1}}" [disabled]="!isEditable" [(ngModel)]="szerzodesKotesDatuma" type="date" id="start" name="trip-start">

  <br>
  <button [disabled]="!isEditable" (click)="handleSave(study)" class="btn btn-success btn-sm">Mentés</button>
</div>
<br><br>

<div *ngIf="study.id != -1" class="container table-responsive">
  <h5>Meresek</h5>
  <table #table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 data-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Azonosító</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="feltoltesSzam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Feltöltés szám</th>
      <td mat-cell *matCellDef="let element"> {{element.feltoltesSzam}} </td>
    </ng-container>

    <ng-container matColumnDef="alanyNev">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alany neve</th>
      <td mat-cell *matCellDef="let element"> {{element.alanyNev}} </td>
    </ng-container>

    <ng-container matColumnDef="vizsgaloOrvosNev">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vizsgáló orvos neve</th>
      <td mat-cell *matCellDef="let element"> {{element.vizsgaloOrvosNev}} </td>
    </ng-container>

    <ng-container matColumnDef="isFizetve">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fizetve</th>
      <td mat-cell *matCellDef="let element"> {{element.isFizetve ? 'Igen' : 'Nem'}} </td>
    </ng-container>

    <ng-container matColumnDef="datum">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mérés dátuma</th>
      <td mat-cell *matCellDef="let element"> {{element.datum | date}} </td>
    </ng-container>

    <ng-container matColumnDef="operator1IdNev">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Operátor 1</th>
      <td mat-cell *matCellDef="let element"> {{element.operator1IdNev}} </td>
    </ng-container>

    <ng-container matColumnDef="operator2IdNev">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Operátor 2</th>
      <td mat-cell *matCellDef="let element"> {{element.operator2IdNev}} </td>
    </ng-container>

    <ng-container matColumnDef="vizsgalatAra">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vizsgálat ára</th>
      <td mat-cell *matCellDef="let element"> {{element.vizsgalatAra}} Forint</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef> Actions</th>
      <mat-cell *matCellDef="let row">
        <button type="button" (click)="navigateUj(study.id, row.id, false)" class="btn btn-outline-warning btn-sm"><mat-icon>edit</mat-icon></button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-button [disabled]="isDisabled || !isEditable" (click)="navigateUjMeres(study.id, -1, false)"
          class="btn btn-success btn-sm">
    <mat-icon>add</mat-icon>
  </button>
<mat-paginator [pageSizeOptions]="[5,10,20]" [pageSize]="5"></mat-paginator>
</div>
