<app-alert-modal [error]="error" *ngIf="isSmthEmpty" (onClose)="isSmthEmpty = false"></app-alert-modal>
<H1>{{title}}</H1>
<div class="container">
  <fieldset class="form-group">
    <label>Hivatkozási név</label>
    <input [disabled]="isDisabled" type="text" [(ngModel)]="vm.hivatkozasiNev" class="form-control" name="hivatkozasiNev" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Megnevezés</label>
    <input [disabled]="isDisabled" type="text" [(ngModel)]="vm.megnevezes" class="form-control" name="megnevezes" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Költsége forintban megadva</label>
    <input [disabled]="isDisabled" type="number" [(ngModel)]="vm.huf" class="form-control" name="huf" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Költsége euróban megadva</label>
    <input [disabled]="isDisabled" type="number" [(ngModel)]="vm.eur" class="form-control" name="eur" required="required">
  </fieldset>
  <button (click)="handleSave(vm)" class="btn btn-success btn-sm">Mentés</button>
</div>
