<H1>{{title}}</H1>
<div class="container">
  <app-alert-modal [error]="error" *ngIf="isSmthEmpty" (onClose)="isSmthEmpty = false"></app-alert-modal>
  <fieldset class="form-group">
    <label>Hivatkozási név</label>
    <input class = "required" [disabled]="isDisabled" type="text" [(ngModel)]="fizetestiPeriodus.hivatkozasiNev" class="form-control" name="hivatkozasiNev" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Megnevezés</label>
    <input [disabled]="isDisabled" type="text" [(ngModel)]="fizetestiPeriodus.megnevezes" class="form-control" name="megnevezes" required="required">
  </fieldset>
  <fieldset class="form-group">
    <label>Fizetési periódus napokban megadva</label>
    <input [disabled]="isDisabled" type="number" [(ngModel)]="fizetestiPeriodus.napok" class="form-control" name="napok" required="required">
  </fieldset>
  <button [disabled]="!fizetestiPeriodus.megnevezes.length && !fizetestiPeriodus.hivatkozasiNev.length" (click)="handleSave(fizetestiPeriodus)" class="btn btn-success btn-sm">Mentés</button>
</div>
