:host {
  display: block;
}

.mat-spinner {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

button {
  display: inline-block;
  width: 100%;

  span {
    vertical-align: initial;
  }

  &.loading .button-text {
    opacity: 0;
  }
}
