@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.data-table{
  width: 100%;
  margin: 20px auto;
}

input:required {
  border-color: green;
  border-width: 3px;
}

input:required:invalid {
  border-color: #c00000;
}

