$headline-font-family: 'Open Sans', 'sans-serif';
$content-font-family: 'Open Sans', 'sans-serif';
$font-size-normal: 16px;
$font-size-small: 14px;
$border-radius: 6px;
$header-height: 70px;
$margin-top-content: 80px;

$minDesktopWidth: 1024px;
$minTabletWidth: 600px;
$minMobileWidth: 320px;

$background-backdrop: rgba(162, 188, 251, 0.64);

$widget-title-margin-bottom: 16px;
$gridster-padding-top: 20px;
$gridster-padding-right: 30px;
$gridster-padding-bottom: 20px;
$gridster-padding-left: 30px;
