<H1>{{title}}</H1>
<div class="container">
  <app-alert-modal [error]="error" *ngIf="isSmthEmpty" (onClose)="isSmthEmpty = false"></app-alert-modal>
  <fieldset class="form-group">
    <label>Név</label>
    <input type="text" [(ngModel)]="szemely.nev" class="form-control" name="nev" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Taj szám</label>
    <input type="text" [(ngModel)]="szemely.tajszam" class="form-control" name="tajszam" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Posta cím</label>
    <input type="text" [(ngModel)]="szemely.postaCim" class="form-control" name="postaCim" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Telefonszám</label>
    <input type="text" [(ngModel)]="szemely.telefonSzam" class="form-control" name="telefonSzam" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Email címe</label>
    <input type="text" [(ngModel)]="szemely.email" class="form-control" name="email" required="required">
  </fieldset>

  <label>Jogosultság(ok)</label>
  <select multiple class="custom-select" placeholder="Jogosultság(ok) kiválasztása" [(ngModel)]="selectedJogosultsag">
    <option *ngFor="let szerepkor of szerepkorList" [ngValue]="szerepkor">{{szerepkor.megnevezes}}</option>
  </select>
  <button (click)="handleSave(szemely)" class="btn btn-success btn-sm">Mentés</button>
</div>
