<app-alert-modal [error]="error" *ngIf="isSmthEmpty" (onClose)="isSmthEmpty = false"></app-alert-modal>
<H1>{{title}}</H1>
<div class="container">
  <fieldset class="form-group">
    <label>Hivatkozási név</label>
    <input [disabled]="isDisabled" type="text" [(ngModel)]="szerepkor.hivatkozasiNev" class="form-control" name="hivatkozasiNev" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Megnevezés</label>
    <input [disabled]="isDisabled" type="text" [(ngModel)]="szerepkor.megnevezes" class="form-control" name="megnevezes" required="required">
  </fieldset>

  <fieldset class="form-group">
    <label>Kifizetés aránya mérésenként százalékban</label>
    <input [disabled]="isDisabled" type="text" [(ngModel)]="szerepkor.kifizetesAranya" class="form-control" name="kifizetesAranya" required="required">
  </fieldset>
  <button (click)="handleSave(szerepkor)" class="btn btn-success btn-sm">Mentés</button>
</div>
