.container{
  background-color: whitesmoke;
}

h1 {
  color: green;
}

@import '../styles/variables';

.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: $background-backdrop;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.green-snackbar {
  background: rgb(65, 252, 134);
  color: white;
}
.green-snackbar button {
  background-color: rgb(65, 252, 134);
  color: white;
  border: none;
}
.red-snackbar {
  background: #F44336;
  color: white;
}
.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}

