  <header class="jasmine-menu">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li><a class="nav-link" routerLink="welcome/davidbrijak">Kezdő oldal</a></li>
        <li><a class="nav-link" routerLink="szerepkor/list">Szerepkorok</a></li>
        <li><a class="nav-link" routerLink="szemelyek/list">Személyek listázása</a></li>
        <li><a class="nav-link" routerLink="szemely/new">Személyek felvétele</a></li>
        <li><a routerLink="fizetesiPeriodus/list" class="nav-link">Fizetési periódusok</a></li>
        <li><a routerLink="szervezetTipus/list" class="nav-link">Szervezetek típusok listázása</a></li>
        <li><a routerLink="study/list" class="nav-link">Studyk listázása</a></li>
        <li><a routerLink="vizsgalatiMod/list" class="nav-link">Vizsgálati módok listázása</a></li>
        <li><a routerLink="kifizetesek/list" class="nav-link">Kifizetések ellenőrzése</a></li>
      </ul>
      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a routerLink="welcome/davidbrijak" class="nav-link">Bejelentkezés</a></li>
        <li><a routerLink="szerepkor/list" class="nav-link">Kijelentkezés</a></li>
      </ul>
    </nav>
  </header>
