.backdrop {
  width: 100vw;
  height: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
}

.alert-box{
  position: fixed;
  top: 20vw;
  width: 60vw;
  padding: 30px;
  background: aliceblue;
  box-shadow: red;
}
