$gray: #999999;
$normal-gray: #cccccc;
$lighter-gray: #b3b3b3;
$light-gray: #f9f9f9;
$dark-gray: #4d4d4d;
$purple: #5f41e0;
$light-blue:  #c3e3ed;
$lightest-grey: #e7e7e7;
$lighter-blue: #2eb4ff;
$external-page-background: #f7f7f7;
